snippet desc
	describe("${1}", function () {
	  ${2}
	});

snippet it
	it("${1}", function () {
	  ${2}
	});

snippet cont
	context("${1}", function () {
	  ${2}
	});

snippet bef
	before("${1}", function () {
	  ${2}
	});

snippet befe
	beforeEach("${1}", function () {
	  ${2}
	});

snippet aft
	after("${1}", function () {
	  ${2}
	});

snippet afte
	afterEach("${1}", function () {
	  ${2}
	});

