snippet desc
	describe("${1}", function () {
	  ${2}
	});

snippet it
	it("${1}", function () {
	  ${2}
	});

snippet cont
	context("${1}", function () {
	  ${2}
	});

snippet bef
	before(function () {
	  ${1}
	});

snippet befe
	beforeEach(function () {
	  ${1}
	});

snippet aft
	after(function () {
	  ${1}
	});

snippet afte
	afterEach(function () {
	  ${1}
	});

snippet exp
	expect(${1}).to${2};

snippet expe
	expect(${1}).to.equal(${2});

snippet eql
	equal(${1});

